* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #19246F;
    padding: 10px 50px;
}

.Logo > img {
    width: 65%;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    gap: 50px;
    padding: 20px 30px;
    font-size: 20px;
}

.itemMenu {
    text-decoration: none;
    color: white;
}

.contactItem > a > button {
    background-color: #0079C2;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.empty-space {
    height: 500px; 
}

.colorful-text{
    font-family: 'Nunito';
    color: #0079C2;
    margin-top: 10px; 
    font-size : 50px;
    text-align: center;
}

.prodi-description{
    text-align: center;
    font-size : 25px;
    font-style: 'nunito';
    font-weight: 500;
}

.empty-space2 {
    height: 500px; 
}

.row{
    background-color: rgba(0, 121, 194, 0.7);
    margin: 0; 
    padding: 0; 
}

footer {
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
