* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

body {
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #19246F;
    padding: 20px 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 80%;
}

.navTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.navItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px;
    gap: 50px;
    padding: 20px 30px;
    font-size: 20px;
}

.menuItem {
    text-decoration: none;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn > i{
    margin-left: 5px;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5A5E7B;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #0079C2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contItem > a > button {
    background-color: #0079C2;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.navDown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.searchItem > input {
    border: none;
    padding: 10px 40px 10px 20px;
    width: 220px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.fa-magnifying-glass {
    color: black;
    position: absolute;
    z-index: 1;
    top: 67%;
    right: 9%;
}

/* Content */
section {
    padding: 40px 60px;
    background-color: #19246F;
}

.contentTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentTop > img {
    width: 35%;
}

.contentTop-Right > h1 {
    margin-right: 180px;
    margin-bottom: 150px;
    color: white;
    font-size: 90px;
    font-weight: 700;
    font-family: "Archivo";
}

.staffTanov > img {
    display: block;
    margin: auto;
    width: 30%;
}

.staffTanov > h1 {
    text-align: center;
}

.contentMid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
.infoContact {
    display: flex;
    justify-content: space-between;
    background: #0079C2;
    padding: 40px 60px;
}

.footerLeft {
    width: 60%;
}

.logoFooter > img {
    width: 15%;
    margin-left: 30px;
}

.information {
    color: white;
    margin-top: 75px;
}

.information > h1 {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
}

.information > h2 {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 80px;
}

.infoNomor {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 20px;
}

.infoNomor > h1 {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 500;
}

.infoEmail {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 20px;
}

.infoEmail > h1 {
    font-family: "Roboto";
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
}

.footerRight {
    padding-right: 100px;
}

.email > ul {
    font-family: "Poppins";
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.email > ul {
    list-style: none;
}

.email > ul > li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;   
    width: 1em;
    margin-left: -1em;
}

.inputGroup {
    width: 90%;
    max-width: 600px;
    position: relative;
    margin-top: 65px;
}

#emailField {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    outline: none;
    font-size: 25px;
    position: relative;
    z-index: 10;
    color: white;
    padding: 8px 0px;
    margin-top: 30px;
}

#emailLabel {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 2px;
    color: white;
    font-size: 25px;
    opacity: 60%;
    transition: bottom 0.3s;
}

#emailError {
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 15px;
    font-weight: 500;
    color: red;
    transition: top 0.5s;
}

.email > input {
    position: flex;
    margin-top: 10px;
    margin-left: 415px;
    background-color: #5BABEC;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.icon {
    display: flex;
    gap: 15px;
    padding-top: 150px;
    padding-left: 350px;
}

.icon > a > img {
    width: 100%;
    opacity: 100%;
}

.watermark > h1 {
    font-family: "Poly";
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: black;
    padding: 10px 30px;
}